<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   <property name="packagesToScan">com.nbi.childportal.pojos</property>

   <!-- Assume test is the database name -->
   <!-- <property name="hibernate.connection.url">jdbc:mysql://ec2-52-10-67-187.us-west-2.compute.amazonaws.com:3306/hackathon1</property>
   <property name="hibernate.connection.username">hacker1</property>
   <property name="hibernate.connection.password">password</property> -->
   <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ChildPortal</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">password</property>

   <!-- List of XML mapping files -->
   <!-- <mapping resource="ChildAdmission.hbm.xml"/> -->
   <mapping class="com.nbi.childportal.pojos.ChildAdmission"/>  
   <mapping class="com.nbi.childportal.pojos.User"/>  
   <mapping class="com.nbi.childportal.pojos.UserRole"/>  
   <mapping class="com.nbi.childportal.pojos.Organization"/>  
   <mapping class="com.nbi.childportal.pojos.EnrollmentReport"/>  

</session-factory>
</hibernate-configuration>